.widget-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  margin: 0;
}

.featured-title {
  font-size: larger;
  text-align: center;
}

.chart-title{
  font-size: x-large;
  font-weight: 500;
  padding-left: 20px;
  color: #999;
}