.navbar {
    height: 50px;
    padding: 4px;
    border-bottom: 2px solid lavender;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lavender;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                position: relative;
                display: flex;
                margin-right: 20px;
                align-items: center;
                color: #888;

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    color: whitesmoke;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                }
            }
        }
    }
}