.percentage-result {
  color: green;
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    font-size: large;
  }

  .up {
    color: green;
  }

  .down {
    color: red;
  }
}